<?php

# CONFIGURATION FILE FOR GATHERLING 
# CHANGE THE FOLLOWING VARIABLES
#
# AND MAKE THE FILE UNREADABLE BY HTACCESS!
#
# === MYSQL PARAMETERS ===
$CONFIG['db_hostname'] = 'localhost';
$CONFIG['db_username'] = 'username';
$CONFIG['db_password'] = 'password';
$CONFIG['db_database'] = 'gatherling';

# === Website PARAMATERS ===
$CONFIG['site_name'] = "website name";
$CONFIG['calendar_description'] = "a description for the events calendar";

# THAT'S ALL FOLKS!
