body {
  vertical-align:baseline;
  background:transparent;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background: #161616;
  padding: 20px 0px 0px 0px;
  color: rgb(204,204,204);
}

td {
  vertical-align:baseline;
}

a {
  border-bottom: 1px dotted #D88F6D;
  text-decoration: none;
  font-weight: bold;
  padding: 1px;
}

.borderless {
    border: none; /* removes borders from img anchors */
}

.borderless:hover {
    border: 1px solid #262626; /* colors border on img anchors so border matches back ground and is unseen */
}

a:link {
  color: #D88F6D;
}

a:visited {
  color: #D88F6D;
}

a:active {
  color: #D45E28;
}

a:hover {
  color: #D45E28;
  border: 1px solid #D45E28;
  padding: 0px;
}


span.match_verified {
    color: green;
}

span.match_unverified {
    color: yellow;
}

span.match_failed {
    color: red;
}

em {
  color: #D45E28;
}

del
{
text-decoration:line-through
}

#header_bar {
    width: 940px;
    height: 135px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-image: url(../imageset/header_background.png);
    background-repeat: repeat-x;
}

#header_logo {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}

#header_gatherling {
    float: right;
    margin-right: 312px;
    padding-top: 26px;
}

#header_text {
    color: white;
    text-align: center;
    padding-top: 25px;
}

#sub_text {
    font-weight: normal;
    font-size: medium;
}

.roundedbox, .toprowbox {
  background: #454545;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eeeeee;
}

.toprowbox {
  height: 90px;
  border: 1px solid gray;
}

#sidecolumn {
    margin-bottom: 10px;
    text-align: center;
}

.box {
  border-radius: 5px;        /* modern browsers only need this. IE9 needs the meta tag that is in lib.php */
  -moz-border-radius: 5px;   /* border radius is specified different ways for different legacy browsers. */
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: #000 0 2px 5px;
  -moz-box-shadow: #000 0 2px 5px;
  box-shadow: #000 0 2px 5px;

  margin-top: 15px;
  background: #262626;
  border: 1px solid black;
}

.uppercornertitle {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #353535;
  border-bottom: 1px solid #D45E28;
  border-right: 1px solid #D45E28;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.uppertitle {
 -moz-border-radius-topright: 5px;
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 background: #353535;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
 border-bottom: 2px solid #D45E28;
}

.uppertitle h2 {
  margin-bottom: 0;
}

.menubar {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: #000 0 2px 10px;
  -moz-box-shadow: #000 0 2px 10px;
  box-shadow: #000 0 2px 10px;

  background: #262626;
  border: 1px solid black;
}

#mainmenu, #mainmenu_submenu, #submenu {
  font-weight: bold;
}

#mainmenu ul, #submenu ul, #mainmenu_submenu ul {
  color: #D88F6D; /* menu font color */
  margin: 0px;
  margin-top: 1px;
  float: left;
  background: #262626;
  padding: 0px;
  padding-top: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#mainmenu ul li, #mainmenu_submenu ul li, #submenu ul li {
  display: inline-block;
  border: 1px solid black;
}

#mainmenu ul li a, #mainmenu_submenu ul li a, #submenu ul li a {
  float: left;
  text-decoration: none;
  text-align: center;
  border-bottom: none;
}

#submenu ul li a {
    width: 145px;
}

#mainmenu ul li a, #mainmenu_submenu ul li a {
  width: 115px;
}

#mainmenu ul li.last a, #mainmenu_submenu ul li.last a {
  width: 115px;
}

div.tabs_5 ul li a {
  width: 187px;
}

div.tabs_6 ul li a {
  width: 155px;
}

div.tabs_7 ul li a {
  width: 133px;
}

div.tabs_8 ul li a {
  width: 116px;
}

#mainmenu ul li a:visited, #mainmenu_submenu ul li a:visited, #submenu ul li a:visited {
  color: #D87D49;
}

#mainmenu ul li a:hover, #mainmenu ul li .current, #mainmenu_submenu ul li a:hover, #submenu ul li a:hover, #submenu ul li .current, #mainmenu_submenu ul li.open a:hover, #mainmenu_submenu ul li.current a  {
  color: #D45E28; /*text color of selected and active item*/
  background: #353535;
  border: 1px solid #D45E28;
}

#faq, #joinpdc {
  text-align: center;
}

#upcomingevents hr {
  margin-bottom: 10px;
}

.uptourneylogo, .uptourneystuff {
  margin-top: 0;
  text-align: center;
}

.uptourneylogo img {
  height: 50px;
  width: 75px;
}

.newsarticle, #readmorearticles {
  border-bottom: 1px dashed black;
  padding: 10px;
}

#readmorearticles {
  border-bottom: none;
}

.newsarticle:last-child {
  border-bottom: none;
}

.newstitle {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.newsauthor {
  float: right;
  font-size: 12px;
  padding-top: 8px;
  height: 20px;
}

.newslinks {
  text-align: right;
}

#bottom div {
  text-align: center;
  background: #87cbff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

#bottom div a {
  color: black;
}

#maincontainer {
  background: #161616;
}

.deck {
  width: 100%;
}

.deck span {
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.deck .deck_player {
  width: 95px;
}

.deck .deck_name {
  width: 150px;
  height: 1.5em;
  text-align: left;
}

.deck .deck_colors {
  width: 75px;
  padding: 2px;
  text-align: left;
}

.deck .deck_place {
  width: 15px;
  padding: 2px;
}

.recent_tourneyname {
  text-align: center;
  padding-top: 0.5em;
}

.newtrophies {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom:0px;
  padding: 0px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.pad10 {
  height: 10px;
}

/* Gatherling Entries */
#gatherling_main p, .gatherling_news p {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1em;
}

#gatherling_main {
  padding-bottom: 10px;
}

#gatherling_main table {
  margin-left: auto;
  margin-right: auto;
}

#gatherling_main table td {
  padding: 3px;
}

#gatherling_main table.form th {
  vertical-align: middle;
  text-align: right;
}

#gatherling_main table.form td.buttons {
  text-align: center;
}

#gatherling_main .error {
  color: red;
  font-weight: bolder;
}

#gatherling_lefthalf table {
  width: 100%;
  margin-left: inherit;
}

#gatherling_righthalf table {
  width: 100%;
  margin-left: inherit;
}

#gatherling_footer {
  background-color: #262626;
  text-align: center;
  font-variant: small-caps;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  clear: both;
}

#gatherling_main .eventname {
  border-bottom: 1px dotted black;
}

#gatherling_main table th.top {
  text-align: center;
}

.spacer {
    margin-top: 15px;
}

.innertube {
    background-color: #262626;
    padding-bottom: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.gatherling_news {
    clear: both;
    margin-bottom: 10px;
}

.extra_margin {
    margin: 10px;
}

#EventReport table td {
    border-width: 0px;
    vertical-align: top;
}
