/* Gatherling Entries */
#gatherling_main p, .gatherling_news p {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1em;
}

#gatherling_main p.squeeze {
  margin-bottom: 0;
}

#gatherling_main {
  padding-bottom: 10px;
}

#gatherling_main table {
  margin-left: auto;
  margin-right: auto;
}

#gatherling_main table td {
  padding: 3px;
  vertical-align: top;
}

#gatherling_main table.form th {
  vertical-align: middle;
  text-align: right;
}

#gatherling_main table.form td.buttons {
  text-align: center;
}

#gatherling_main .error {
  color: red;
  font-weight: bolder;
}

#gatherling_lefthalf {
  padding-left: 5px;
}

#gatherling_lefthalf table {
  width: 100%;
  margin-left: inherit;
}

#gatherling_righthalf {
  padding-right: 5px;
}

#gatherling_righthalf table {
  width: 100%;
  margin-left: inherit;
}

#gatherling_footer {
  background-color: #87cbff;
  text-align: center;
  font-variant: small-caps;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#gatherling_main .eventname {
  border-bottom: 1px dotted black;
}

#gatherling_main table th.top {
  text-align: center;
}

table.scoreboard span {
  border-bottom: 1px dotted gray;
}

table.scoreboard tr.odd {
  background-color: #ddd;
}

table.scoreboard tr.cutoff {
  border-bottom: 3px double black;
}

table.scoreboard td, table.scoreboard th {
  text-align: center;
  padding-right: 5px;
}

table.scoreboard .playername {
  text-align: left;
}

.series {
  position: relative;
  background: #ccc;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  min-height: 200px;
  margin-bottom: 20px;
}

.series .series-name {
  position: absolute;
  width: 400px;
  font-size: 36px;
  font-weight: bold;
  right: 0px;
}

.series .series-logo {
  position: absolute;
  width: 280px;
  height: 200px;
  left: 20px;
  line-height: 200px;
  text-align: center;
  vertical-align: center;
  padding-top: 10px
}

.series .series-stewards {
  position: absolute;
  width: 400px;
  right: 0px;
  top: 50px;
}

.series .series-logo img {
  max-width: 280px;
  max-height: 200px;
}

.series-stewards ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.series-stewards ul li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 20px;
  margin-left: 0;
}

.series .series-info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  text-align: center;
}

.series .series-info table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.series .series-info table th {
  text-align: right;
  vertical-align: baseline;
  padding-right: 5px;
}

#gatherling_main .series .series-info table td {
  vertical-align: baseline;
}

a.create_deck_link {
  font-size: 11px;
  color: #D28950;
}

#event_run_actions {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bolder;
}

#event_run_actions ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#event_run_actions li {
  text-align: left;
  width: auto;
}

#event_run_actions input[type="submit"] {
  width: 30%;
  margin-right: 10px;
}

#event_player_list {
  border-width: 0px;
  margin: 0 auto;
}

tr#row_new_entry td {
  vertical-align: inherit;
}
