body {
  background: black;
}

a {
  border-bottom: 1px dotted black;
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #2D76AF;
}

a:visited {
  color: #2D76AF;
}

a:active {
  color: #2D76AF;
}

a:hover {
  border-bottom: 1px solid black;
}

.roundedbox, .toprowbox {
  background: white;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eeeeee;
}

.toprowbox {
  height: 90px;
  border: 1px solid gray;
}

.box {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 15px;
  background: #eeeeee;
}

.uppercornertitle {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FEC61C;
  border-bottom: 1px solid #EEB60C;
  border-right: 1px solid #EEB60C;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.uppertitle {
 -moz-border-radius-topright: 5px;
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 background: #FEC61C;
 border-bottom: 1px solid #EEB60C;
 font-size: 15px;
 font-weight: bold;
 text-align: center;
 margin-bottom: 10px;
}

.uppertitle h2 {
  margin-bottom: 0;
}

#mainmenu, #mainmenu_submenu, #submenu {
  font-weight: bold;
}

#mainmenu ul, #mainmenu_submenu ul {
  margin: 0;
  padding: 0;
  float: left;
  border-top: 1px solid black;
  background: black url(http://www.pdcmagic.com/nav/indentbg.gif) center center repeat-x;
}

#mainmenu_submenu ul li.current a {
  border-left: 1px solid black;
  border-right: 2px solid black;
  width: 134px;
}

#submenu ul {
  margin: 0;
  padding: 0;
  float: left;
  border-top: 1px solid black;
  background: black url(http://www.pdcmagic.com/nav/indentbg3.gif) center center repeat-x;
}

#mainmenu ul, #submenu ul {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#mainmenu ul li, #mainmenu_submenu ul li, #submenu ul li {
  display: inline;
  margin-left: 0px;
}

#mainmenu ul li a, #mainmenu_submenu ul li a, #submenu ul li a {
  float: left;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  border-right: 1px solid black;
  border-bottom: none;
  text-align: center;
}

#mainmenu ul li a, #mainmenu_submenu ul li a {
  width: 133px;
}

#mainmenu ul li.last a, #mainmenu_submenu ul li.last a {
  width: 133px;
}

#mainmenu ul li.last a, #mainmenu_submenu ul li.last a, #submenu ul li.last a {
  border-right: none;
}

div.tabs_5 ul li a {
  width: 187px;
}

div.tabs_5 ul li.last a {
  width: 188px;
}

div.tabs_6 ul li a {
  width: 155px;
}

div.tabs_7 ul li a {
  width: 133px;
}

div.tabs_8 ul li a {
  width: 116px;
}

div.tabs_8 ul li.last a {
  width: 121px;
}

#mainmenu ul li a:visited, #mainmenu_submenu ul li a:visited, #submenu ul li a:visited {
  color: black;
}

#mainmenu ul li a:hover, #mainmenu ul li .current, #mainmenu_submenu ul li a:hover {
  color: black !important; /*text color of selected and active item*/
  padding-top: 6px; /*shift text down 1px for selected and active item*/
  padding-bottom: 4px; /*shift text down 1px for selected and active item*/
  background: #FEC61C url(http://www.pdcmagic.com/nav/indentbg2.gif) center center repeat-x;
}

#submenu ul li a:hover, #submenu ul li .current, #mainmenu_submenu ul li.open a:hover, #mainmenu_submenu ul li.current a {
  color: black !important; /*text color of selected and active item*/
  padding-top: 6px; /*shift text down 1px for selected and active item*/
  padding-bottom: 4px; /*shift text down 1px for selected and active item*/
  background: #FEC61C url(http://www.pdcmagic.com/nav/indentbg4.gif) center center repeat-x;
}

#faq, #joinpdc {
  text-align: center;
}

#upcomingevents hr {
  margin-bottom: 10px;
}

.uptourneylogo, .uptourneystuff {
  margin-top: 0;
  text-align: center;
}

.uptourneylogo img {
  height: 50px;
  width: 75px;
}

.newsarticle, #readmorearticles {
  border-bottom: 1px dashed black;
  padding: 10px;
}

#readmorearticles {
  border-bottom: none;
}

.newsarticle:last-child {
  border-bottom: none;
}

.newstitle {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.newsauthor {
  float: right;
  font-size: 12px;
  padding-top: 8px;
  height: 20px;
}

.newslinks {
  text-align: right;
}

#bottom div {
  text-align: center;
  background: #87cbff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

#bottom div a {
  color: black;
}

#maincontainer {
  background: white;
}

.deck {
  width: 100%;
}

.deck span {
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.deck .deck_player {
  width: 95px;
}

.deck .deck_name {
  width: 150px;
  height: 1.5em;
  text-align: left;
}

.deck .deck_colors {
  width: 75px;
  padding: 2px;
  text-align: left;
}

.deck .deck_place {
  width: 15px;
  padding: 2px;
}

.recent_tourneyname {
  text-align: center;
  padding-top: 0.5em;
}

#newtrophies {
  text-align: center;
}

.pad10 {
  height: 10px;
}

